<nav>
  <a routerLink="/home">Home</a> || <a routerLink="/about">About</a> || <a routerLink="/contact">Contact</a>
</nav>
<hr>
<h1>Todo-App</h1>
<hr />

Todo Item: <input [(ngModel)]="todoItem" />
<button (click)="save()">Save</button>
<hr>

@if (todoItems.length>0) {
Todos:
<table>
  <thead>
    <tr>
      <th>index</th>
      <th>|</th>
      <th>todo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of todoItems; track $index) {
    <tr>
      <td>{{ $index }}</td>
      <td>|</td>
      <td>{{ item }}</td>
      <td>|</td>
      <td>
        <button (click)="delete($index)">Delete</button>
        <button (click)="select($index)">Update</button>
      </td>
    </tr>
    }
  </tbody>
</table>
}

<router-outlet></router-outlet>