<hr>

<div class="input-group mb-3">
    <span class="input-group-text">Todo Item</span>
    <input type="text" class="form-control" aria-describedby="button-addon2" [(ngModel)]="todoItem">
    <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="save()">Save</button>
</div>

<hr>

@if (todoItems.length>0) {
    <div>Todos:</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>index</th>
                <th>todo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (item of todoItems; track $index) {
                <tr>
                    <td>{{ $index+1 }}</td>
                    <td>{{ item }}</td>
                    <td class="text-end">
                        <button type="button" class="btn btn-outline-primary me-2" (click)="select($index)">Select</button>            
                        <button type="button" class="btn btn-outline-danger" (click)="delete($index)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}